@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";

    var mode = Post.Mode;
    //var slug = Post.Slug;
}

@if (!mode.IsEmpty())
{
    var post = Post.Current;
    
    <div>
        <form name="post" method="post" action="~/admin/post.ashx">
            <input type="hidden" name="mode" value="@mode" />
            <input type="hidden" name="postId" value="@post.Id" />
            <p>Title: <input type="text" name="postTitle" value="@post.Title" /></p>
            <p>Content: <textarea name="postContent">@post.Content</textarea></p>
            <p>Slug: <input type="text" name="postSlug" value="@post.Slug" /></p>
            <p>Date Published: <input type="text" name="postDatePublished" value="@post.DatePublished" /></p>
            
            <p><input type="submit" name="postSubmit" value="Submit" /></p>

        </form>
    </div>
}
else
{
    <p>This should display a list of posts.</p>
}


