<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/css/site.css" rel="stylesheet" type="text/css" />

        @RenderSection("head", required: false)
    </head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><a href="~/">SimpleCMS</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/admin/">Admin</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Web Page</p>
            </div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
