@{
    Page.Title = "Post Management";
    Layout = "~/admin/_AdminLayout.cshtml";

    var mode = Post.Mode;
    //var slug = Post.Slug;

    if (!WebUser.HasRole(UserRoles.Admin) &&
        !WebUser.HasRole(UserRoles.Editor) &&
        !WebUser.HasRole(UserRoles.Author))
    {
        Response.Redirect("~/admin/");
    }

    if ((mode == "edit" || mode == "delete") && WebUser.HasRole(UserRoles.Author))
    {
        if (WebUser.UserId != Post.Current.AuthorId)
        {
            Response.Redirect("~/admin/post/");
        }
    }
}

@if (!mode.IsEmpty())
{
    var post = Post.Current;
    var tags = TagRepository.GetAll();
    var postTags = (IEnumerable<dynamic>)post.Tags;


    <div>
        <form name="post" method="post" action="~/admin/post.ashx">
            @AntiForgery.GetHtml()
            <input type="hidden" id="mode" name="mode" value="@mode" />
            <input type="hidden" id="postId" name="postId" value="@post.Id" />
            <input type="hidden" id="postAuthorId" name="postAuthorId" value="@post.AuthorId" />
            <p>
                <label for="postTitle">Title:</label>
                <input type="text" id="postTitle" name="postTitle" value="@post.Title" />
            </p>
            <p>
                <label for="postContent">Content:</label>
                <textarea id="postContent" name="postcontent">@post.Content</textarea>
            </p>
            <p>
                <label for="postSlug">Slug:</label>
                <input type="text" id="postSlug" name="postSlug" value="@post.Slug" />
            </p>
            <p>
                <label for="postDatePublished">Date Published:</label>
                <input type="text" id="postDatePublished" name="postDatePublished" value="@post.DatePublished" />
            </p>
            <p>
                <label for="postTags">Tags:</label>
                <select id="postTags" name="postTags" multiple>
                    @foreach (var tag in tags)
                    {
                        <option value="@tag.Id" selected="@postTags.Any(t => t.Id == tag.Id)">@tag.Name</option>
                    }
                </select>
            </p>
            <p><input type="submit" name="postSubmit" value="Submit" /></p>
        </form>
    </div>
}
else
{
    @AntiForgery.GetHtml()
    <a href="~/admin/post/new/">Create New Post</a>
    var grid = new WebGrid(
        source: PostRepository.GetAll(orderBy: "DateCreated DESC"),
        rowsPerPage: 30);

    @grid.GetHtml(
    columns: grid.Columns(
    grid.Column(format: @<a href="~/admin/post/edit/@item.Slug">Edit</a>),
    grid.Column(format: @<a data-mode="delete" data-action="/admin/post.ashx" data-item="@item.Slug" href="~/admin/post/delete/@item.Slug">Delete</a>),
    grid.Column("Title"),
    grid.Column("DateCreated", header: "Date Created"),
    grid.Column("DatePublished", header: "Published" ),
            grid.Column("Username", header: "Author")

                    )
                );
}


@section Scripts {
<script>
    $("#postDatePublished").datepicker();
    </script>
}